<div class="container">

    <h1 class="text-center">Inscription</h1>
    <p> Veuillez entrer votre nom et prénom s'il vous plait </p>

    <input type="hidden" name="card" value="">
    <div class="form-group">
        <input class="form-control write" type="text" id="prenom" placeholder="PRENOM">
    </div>
    <div class="form-group">
        <input class="form-control write" type="text" id="nom" placeholder="NOM">
    </div>
    <div class="form-group">
        <button class="btn btn-block btn-primary sub">Continuer</button>
    </div>

    <div id="clavier">
        <ul id="keyboard">
            <li class="letter">A</li>
            <li class="letter">Z</li>
            <li class="letter">E</li>
            <li class="letter">R</li>
            <li class="letter">T</li>
            <li class="letter">Y</li>
            <li class="letter">U</li>
            <li class="letter">I</li>
            <li class="letter">O</li>
            <li class="letter">P</li>
            <li class="letter">Q</li>
            <li class="letter">S</li>
            <li class="letter">D</li>
            <li class="letter">F</li>
            <li class="letter">G</li>
            <li class="letter">H</li>
            <li class="letter">J</li>
            <li class="letter">K</li>
            <li class="letter">L</li>
            <li class="letter">M</li>
            <li class="letter">W</li>
            <li class="letter">X</li>
            <li class="letter">C</li>
            <li class="letter">V</li>
            <li class="letter">B</li>
            <li class="letter">N</li>
            <li class="delete lastitem">SUPP</li>
            <li class="go">Terminé</li>
        </ul>
    </div>
    <div class="pull-left">
        <a class="btn btn-info" href="/">Retour</a>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-content text-center">
                    <h4 class="modal-title">Passez votre carte</h4>
                    <i class="fa fa-spinner fa-pulse fa-5x fa-fw" style="color: #b74242" id="loader"></i>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-default" href="/">Annuler</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script>
        $("button").click(function (e) {
            e.preventDefault();
            if($("#prenom").val() != "" && $("#nom").val()) {
                $("#modal").modal();
                $.ajax({
                    url: "/card",
                    type: "GET",
                    success: function (response, statut) {
                        console.log("success");
                        $("#loader").toggleClass("fa-spinner fa-check fa-pulse");
                        console.log(response.card); // La carte
                        let card = response.card;
                        let prenom = $("#prenom").val();
                        let nom = $("#nom").val();

                        $.ajax({
                            url: "http://localhost:8080/user/create",
                            method: "POST",
                            data : "prenom="+prenom+"&nom="+nom+"&card="+card,
                            dataType: 'json',
                            headers: { "Content-Type":"application/json"},
                            success: function (response, statut) {
                                console.log(response);
                            },
                            error: function (resultat, statut, err) {
                                console.log(resultat);
                            }
                        });
                        // Faire requete AJAX pour inscription ici
                    },
                    error: function (resultat, statut, err) {
                        console.log("error");
                        // Jamais d'erreur ici
                    }

                });
            }
        })
    </script>
</div>
